p {
    font-size: 110%;
    margin-top: 0px;
}

h2, h3, h4 {
    margin-bottom: 0px;
}

a{
    color: black;
}

#content{
    position: relative;
    margin: auto;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    /* width: 50%; */
    width: 850px;
    font-family: Open Sans;
}

#hey{
    margin-top: 10%;
    margin-bottom: -5px;
    font-size: 130%;
    font-weight: 575;
}

#heyname {
    font-family: Oxygen;
    font-size: 37px;
    padding:0px;
    margin: 0px;
}

#mail{
    margin-top: 25px;
    margin-bottom: 10px;
    max-height:30px;
    max-width: 400px;
    min-height: 50px;
    overflow: visible;
}

.cl1{
    float: left;
    width: 50%;
}

.cl2{
    float: left;
    width: 50%;
}

.cl2right{
    text-align: right;
    width: 50%;
    float: right;
}

#experience{
    padding-bottom: 120px;
}

.padding{
    margin-bottom: 1000px;
}

.icon{
    max-width: 40px;
    max-width: 40px;
}

div.resumebox{
    position: relative;
    margin: 0px;
    padding: 0px;
}

p.subdescript{
    font-size: 95%;
    color: #999999;
}

ul{
    list-style: circle;
}

ul.descript{
    margin-top: -10px;
}

.station{
    position: relative;
    left: -140px;
    background: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
}

.inner-stat{
    
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

#s1{
    top: 60px;
}

.train{
    position: relative;
    top: -15px;
    left: -26px;
    height: 30px;
    width: 50px;
    z-index: 2;
}

.train.tr1{
    background-color: #0039A6;
}

.train.tr2{
    background-color: #00933C;
}

.anim-wrapper{
    position: relative;
    overflow: visible;
}

svg.route{
    position: absolute;
    stroke-width: 10px;
    overflow: visible;
}

div.subway-sign{
    position: relative;
    background-color: black;
    font-family: Helvetica;
    text-align: center;
    color: white;
    height: 70px;
    /* 76% of the height */
    width: 400px;
    align-items: center;
    line-height: 70px;
    margin-bottom: -15px;
}

div.subway-sign.col1{
    width: 66%;
    float: left;
}

div.subway-sign.col2{
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    background: transparent;
    height: 100%;
    width: 33%;
    float: left;
    display: grid;
    grid-template-columns: 32px 32px 32px 32px;
    grid-template-rows: 32px 32px;
    align-items: center;
}

div.station-mark{
    text-align: center;
    font-size: 23px;
    line-height: 30px;
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;   
}