p {
    font-size: 110%;
    margin-top: 0px;
}

h2, h3, h4 {
    margin-bottom: 0px;
}

a{
    color: black;
}

#content{
    position: relative;
    margin: auto;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    /* width: 50%; */
    width: 850px;
    font-family: Open Sans;
}

#hey{
    margin-top: 10%;
    margin-bottom: -5px;
    font-size: 130%;
    font-weight: 575;
}

#heyname {
    font-family: Oxygen;
    font-size: 37px;
    padding:0px;
    margin: 0px;
}

#mail{
    margin-top: 25px;
    margin-bottom: 10px;
    max-height:30px;
    max-width: 400px;
    min-height: 50px;
    overflow: visible;
}

.cl1{
    float: left;
    width: 50%;
}

.cl2{
    float: left;
    width: 50%;
}

.cl2right{
    text-align: right;
    width: 50%;
    float: right;
}

#experience{
    padding-bottom: 120px;
}

.padding{
    margin-bottom: 1000px;
}

.icon{
    max-width: 40px;
    max-width: 40px;
}

div.resumebox{
    margin: 0px;
    padding: 0px;
}

p.subdescript{
    font-size: 95%;
    color: #999999;
}

ul{
    list-style: circle;
}

ul.descript{
    margin-top: -10px;
}

svg.route{
    position: absolute;
    stroke-width: 10px;
}

.station{
    position: relative;
    left: -140px;
    background: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
}

.inner-stat{
    
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

#s1{
    top: 80px;
}

.train{
    position: relative;
    top: -15px;
    left: -26px;
    height: 30px;
    width: 50px;
    background-color: navy;
    z-index: 2;
}

.anim-wrapper{

    overflow: hidden;
}